:root {
    --form-radius: 5px;
    --form-height: 30px;
}

/* html {
    font-size: 30px;
} */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #22B3F0; */
    margin: 0px;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #93c0d5, #22B3F0);
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #bfd9e4, #22B3F0);
    /* height: 50px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

#title {
    font-size: 2vw;
    margin: 5px;
}

#search-location {
    padding: 20px;
    display: flex;
    justify-content: center;
}
#search-location form {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

input[type="search"] {
    border-radius: var(--form-radius);
    height: var(--form-height);
    width: max(200px, 30vw);
    height: max(30px, 5vh);
    font-size: 2vh;
}

input[type="submit"] {
    background-color: #22B3F0;
    border-radius: var(--form-radius);
    height: var(--form-height);
    width: max(100px, 6vw);
    height: max(30px, 5vh);

    font-size: 2vh;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="submit"]:hover {
    background-color: #f0ed22;
}

input[type="submit"]:active {
    background-color: #e4e4d3;
}

form {
    background-color: #8db3c5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 2px;
}


#weather-data {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;

    /* max-height: 612px;  */
}



.data {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
    padding-top: 0px;
    
    min-height: 315px;
    max-height: 40vh;
}

.data > div {
    background-image: linear-gradient(to bottom, white, rgb(220, 218, 218));
    border-radius: var(--form-radius);
    box-shadow: 0px 0px 10px 5px rgba(79, 79, 84, 0.2);
    transition: all .2s ease;
    box-sizing: border-box;
    padding: 15px;
    /* height: max(); */
    
}
.data > div:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 5px rgba(79, 79, 84, 0.3);
}

h2 {
    margin: 0px;
    font-size: 2vw;
}


#current-data {
    flex: 2;
}

#location {
    font-weight: 100;
    /* font-size: 1rem; */
}
#sun-data {
    flex: .5;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;

    /* font-size: .7rem; */
}

.hour {
    font-weight: 100;
}

#moon-data {
    flex: .7;
    text-align: center;
    font-weight: 100;
}

#moon {
    width: 25vh;
    height: 25vh;
    border-radius: var(--form-radius);
}
#moon-phase-label {
    margin: 0;
    font-size: 3vh;
}

#moon-data h2, #hourly-data h2, #daily-data h2 {
    font-weight: 100;
    /* font-size: 30px; */

}

#daily-data {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    flex-wrap: nowrap;
}

#days {
    height: 80%;
    background-image: radial-gradient(#bfd9e4, #71d0f9);
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: var(--form-radius);
    white-space: nowrap;

    padding: 3px;
    /* max-width: 45rem; */
}

#days div {
    height: 95%;
    width: 15%;
    margin: .2rem .2rem;
    margin-block: .3rem;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    border-radius: var(--form-radius);
    
}
.day img {
    width: 3vw;
    height: 3vw;
    padding-block: .2rem;
    /* transform: translateX(30%); */
}
.day * {
    padding-top: max(.2px, .5%);
    
}

.day-label {
    font-size: clamp(1rem, 1.2vw, 1.9rem);
    margin: 0px;
}

.day-temp {
    margin: 0px;
    font-size: clamp(1rem, 1.3vw, 2.8rem);
    font-weight: 300;
    /* padding-bottom: 10px; */
}

.night-temp {
    margin: 0px;
    font-size: clamp(.9rem, 1.1vw, 2.6rem);
    font-weight: 300;
    /* padding-bottom: 10px; */
}

.day-precip {
    margin: 0px;
    font-size: clamp(1rem, 1.1vw, 1.8rem);
    font-weight: 300;
}

.day-wind {
    margin: 0px;
    font-size: clamp(.6rem, 1vw, 1.2rem);;
    font-weight: 300;
}

#hourly-data {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    position: relative;
}


#hours {
    height: 100%;
    /* background-image: radial-gradient(#bfd9e4, #71d0f9); */
    overflow: auto;
    border-radius: var(--form-radius);

    display: flex;
    justify-content: space-around;
    padding: 3px;
    gap: 5px;
    flex-wrap: nowrap;
}

#graph-selector {
    position: absolute;
    top: 1.5rem;
    right: 2rem;

    display: flex;
    gap: .4rem;
}

#graph-selector > div {
    background-color: #71d0f9;
    width: 1.3rem;
    /* background-image: linear-gradient(to bottom, #bfd9e4, #71d0f9); */
    user-select: none;
    cursor: pointer;
    transition: all .1s linear;
    border: 1px gray solid;
    border-radius: var(--form-radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 2px;
}

#graph-selector > div:hover {
    background-color: #f0ed22;
    box-shadow: rgba(86, 86, 92, 0.2) 0px 0px 5px 2px;
}

#graph-selector > div:active {
    background-color: #e4e4d3;
    box-shadow: rgba(25, 25, 25, 0.2) 0px 0px 5px 2px;
}